SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
TOKEN_SIGNING_KEY=
MONGO_HOST= 
MONGO_PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_COLLECTION=
BROKER_HOST=
BROKER_PORT=
BROKER_USER=
BROKER_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
RSS_SCRAPER_EXCHANGE=
RSS_SCRAPER_ROUTING_KEY=
UPDATE_FEEDS_QUEUE=
RETRY_FAILURE=
CELERY_BROKER_URL=